<div class="posts">
    {% for item in site.portfolio %}
    <div class="post-contents">
        <span>
            <a aria-label="{{item.title}}" class="post-link" href="{{ item.url | relative_url }}">
                <h1>{{ item.title }}</h1>
            </a>
            {% assign date = item.date | default: "today" | date: "%B %-d, %Y" %}
            <p class="meta">{{ date }}</p>
        </span>
        <!-- <a class="post-link" data-keyboard="true" href="{{ item.url | relative_url }}">
            <div class="caption" title="{{ item.title }}">
                <div class="caption-content">
                    <i class="fas fa-search-plus fa-3x"></i>
                </div>
            </div>
            <img alt="" class="" src="{{ item.img | relative_url }}">
            <p align="center">{{item.term}}</p>
        </a> -->
    </div>
    {% endfor %}
</div>